In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/brandon-pruitt2/ds-portfolio/main/btc_2015_2024.csv')

In [4]:
df

,date,open,high,low,close,volume,rsi_7,rsi_14,cci_7,cci_14,sma_50,ema_50,sma_100,ema_100,macd,bollinger,TrueRange,atr_7,atr_14,next_day_close
0,2015-01-02,314.079010,315.838989,313.565002,315.032013,7.860650e+06,100.000000,100.000000,-66.666667,-66.666667,314.640503,314.648333,314.640503,314.644418,0.017568,314.640503,2.273987,4.193073,4.275997,281.082001
1,2015-01-03,314.846008,315.149994,281.082001,281.082001,3.305440e+07,1.938583,2.096744,-100.000000,-100.000000,303.454336,303.009081,303.454336,303.232458,-1.030403,303.454336,34.067993,15.719617,14.951008,264.195007
2,2015-01-04,281.145996,287.230011,257.612000,264.195007,5.562910e+07,1.235506,1.375421,-110.693896,-110.693896,293.639503,292.715747,293.639503,293.178382,-2.091487,293.639503,29.618011,20.033779,19.034849,274.473999
3,2015-01-05,265.084015,278.341003,265.084015,274.473999,4.396280e+07,21.462825,19.523695,-76.487357,-76.487357,289.806403,288.769813,289.806403,289.286389,-2.215008,289.806403,14.145996,18.468441,17.907070,286.188995
4,2015-01-06,274.610992,287.553009,272.696014,286.188995,2.324570e+07,38.272356,34.350787,-37.070244,-37.070244,289.203501,288.295540,289.203501,288.744005,-1.746686,289.203501,14.856995,17.613461,17.300126,294.337006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3350,2024-03-05,68341.054688,69170.625000,59323.910156,63801.199219,1.028029e+11,64.416956,69.448775,59.907457,82.236455,48645.974688,51266.109482,45662.676953,46364.610363,4648.695293,56210.458594,9846.714844,3839.484498,2859.387618,66106.804688
3351,2024-03-06,63776.050781,67637.929688,62848.671875,66106.804688,6.875023e+10,69.505477,72.378996,85.488532,87.939982,49105.011875,51848.097530,45951.203320,46755.544904,4772.051246,56918.871094,4789.257813,3975.166400,2997.235489,66925.484375
3352,2024-03-07,66099.742188,68029.921875,65655.531250,66925.484375,4.698954e+10,71.210976,73.356192,100.671004,95.339598,49588.668516,52439.367602,46242.147305,47154.949646,4879.623079,57657.135156,2374.390625,3746.484147,2952.746570,68300.093750
3353,2024-03-08,66938.093750,70083.054688,66230.453125,68300.093750,5.920288e+10,74.053595,74.958176,109.722723,108.701098,50129.429219,53061.356863,46546.563320,47573.665371,5017.950214,58488.990039,3852.601563,3761.643778,3017.021926,68498.882813
3354,2024-03-09,68299.257813,68673.054688,68053.125000,68498.882813,2.160965e+10,74.478756,75.190491,95.739979,108.210821,50667.038750,53666.750037,46854.424688,47988.026112,5084.999374,59307.806836,619.929688,3312.827479,2845.801052,69019.789063